[submodule "dotbot"]
path = meta/.dotbot
url = https://github.com/anishathalye/dotbot
ignore = dirty
[submodule "emacs.d"]
path = .emacs.d
url = https://github.com/fundor333/emacs.d.git
[submodule "oh-my-zsh"]
path = .oh-my-zsh
url = https://github.com/ohmyzsh/ohmyzsh.git
[submodule ".zsh-syntax-highlighting"]
path = .zsh-syntax-highlighting
url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule ".zsh-autosuggestions"]
path = .zsh-autosuggestions
url = https://github.com/zsh-users/zsh-autosuggestions.git
[submodule "crontab-dotbot"]
path = crontab-dotbot
url = https://github.com/fundor333/crontab-dotbot.git
[submodule "bofh"]
path = .bofh
url = https://github.com/fundor333/bofh.git
[submodule ".smile"]
path = .smile
url = https://github.com/fundor333/smile.git
[submodule ".powerlevel10k"]
path = .powerlevel10k
url = https://github.com/romkatv/powerlevel10k.git
