[submodule "dotbot"]
	path = meta/.dotbot
	url = https://github.com/anishathalye/dotbot
	ignore = dirty 
[submodule "emacs.d"]
	path = .emacs.d
	url = https://github.com/fundor333/emacs.d.git
[submodule "spaceship"]
	path = .spaceship
	url = https://github.com/denysdovhan/spaceship-prompt.git
[submodule "oh-my-zsh"]
	path = .oh-my-zsh
	url = https://github.com/ohmyzsh/ohmyzsh.git
